/* #developer {
    padding-top: 110px;
  }
  
  @media (max-width: 992px) {
    #developer {
      padding-top: 30px;
    }
  }

  .mainTittle h1:last-child{
    position: relative;
    top: -30px;
} */
/* nav bar */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   css reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */


/* header {
  background-color: rgba(27, 32, 45, 1);
} */

/* .nav-text-color{
  color: rgba(255, 230, 193, 1);
}

.nav-text-color-actived{
  color:rgba(255, 255, 255, 1);
}
.nav-text-color:hover{
  color: rgb(255, 255, 255);
} */
/* nav bar under line */
/* .box-banner{
  border-bottom: 1px solid rgba(255, 230, 193, 0.5);;
} */

/* header-nav */
.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
 border-bottom: 1px solid rgba(255, 230, 193, 1); 
 position: sticky;
 top: 0;
 z-index: 999;
 background-color: rgba(27, 32, 45, 1);
}
.nav-text-color-actived{
  color:rgba(255, 255, 255, 1);
}

.nav-text-color:hover, 
.tittle:hover{
  color: rgb(255, 255, 255);
  position: relative;
  right: 1px;
  bottom: 1px;
  background-color: ;
} 

.logo_tittle{
  display: flex;
  align-items: center;
  margin: 6px 0;
}


.tittle{
  color: rgba(255, 230, 193, 1);
  font-weight: 700;
  font-size: 2em;
  font-family: "Audiowide", sans-serif;
}
.navList{
  list-style: none;
  display: flex;
  gap:10px;
  padding-bottom: 9px;
  font-size: 1em;
  font-family: "Audiowide", sans-serif;
}

a{
  text-decoration: none;
  color: rgba(255, 230, 193, 1);
}


@media screen and (min-width: 768px) {
  .logo_tittle{
      flex-grow: 1;
      margin-left: 10px;

  }
  .nav{
      flex-direction: row;
      align-items: center;
  }
  .navList{
    padding-bottom: 0;
    margin-right: 10px;
  }

}


/* end ofheader-nav */

/* background color */
body{
    background-color: rgba(27, 32, 45, 1);
    color: rgba(255, 230, 193, 1); 
    

}



/* container */
.container{
  width: 100%;
  margin-right:auto;
  margin-left: auto;
}
@media screen and (min-width: 576px) {
  .container{
    max-width: 540px;
  }

}
@media (min-width: 768) {
  .container{
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}
@media (min-width: 1400) {
  .container{
    max-width: 1320px;
  }
}



.text-uppercase{
  text-transform: uppercase;
}
/* banner position */
.big_banner {
  padding-top: 100px;
  overflow: hidden;
  height: 100vh;
}
@media (max-width: 992px) {
  .big_banner {
    padding-top: 130px;
  }
}
/* hello world */
.hello_w {
  position: relative;
  left: 130px;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: "Audiowide", sans-serif;
}
/* creative and inovation */
.creat_innov {
  position: relative;
  left: 130px;
line-height: 1.5;
  color: rgba(255, 230, 193, 1);
  font-size: 3.5em;
  font-family: "League Script", cursive;
}

/* .small_and {
  color: rgba(255, 230, 193, 1);
  font-size: 0.4em;
  font-family: "Times New Roman", serif;
} */

.develper {
  position: relative;
  left: 130px;
  display: inline-block;
line-height: 1.5;
  color: rgba(255, 95, 90, 1);
  font-size: 8em;
  font-family: "Times New Roman", serif;
}
.small_with {
  position: relative;
  left: 220px;
  color: rgba(255, 230, 193, 1);
  font-size: 4em;
  font-family: "League Script", cursive;
}

.wu {
  color: rgba(255, 95, 90, 1);
  font-size: 8em;
  font-family: "Times New Roman", serif;
  text-align: right;
  position: relative;
  line-height: 2;

  right: 200px;
}

@media (max-width: 992px) {
  .hello_w {
    position: relative;
    text-align: left;
    left: 35px;
    font-size: 1em;
  }
  .creat_innov {
    position: relative;
    text-align: center;
    top: 0px;
    left: 0px;
    font-size: 2em;
  }
/* 
  .small_and {
    color: rgba(255, 230, 193, 1);
    font-size: 0.4em;
    font-family: "Times New Roman", serif;
  } */

  .develper {
    position: relative;
    text-align: center;
    font-size: 3em;
    left: 0px;
    font-family: "Times New Roman", serif;
  }
  .small_with {
    position: relative;
    left: 10px;
    color: rgba(255, 230, 193, 1);
    font-size: 2em;
    font-family: "League Script", cursive;
  }
  .wu {
    font-size: 3em;
    text-align: right;
    position: relative;
    left: 0px;
    bottom: 0px;
  }
}



/* scroll arrow  */
html {
  scroll-behavior: smooth;
}
.center-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
    position: relative;
    
    width: 100px;
    height: 100px;
    border-radius: 100%;

}

.arrow {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

.arrow:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.arrow:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.arrow:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.arrow:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover .arrow:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover .arrow:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover .arrow:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover .arrow:nth-child(4) {
    transform: rotate(-225deg);
}




/* hello world */
.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 0%;
}


.ml11 .line1 { 
  top: 0; 
  left: 0;
}
.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

/* #section2{
  height: 100vh;
} */
.wrapper{
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}


.context{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-auto-rows: minmax(50px, auto); */
  row-gap: 20px;
  column-gap: 9px;
  padding-top: 30px;
  
}

.card-img-top{
  object-fit: cover;
  width: 100%;
  
}

.card{
  padding:0;
  margin-left: auto;
  margin-right: auto;

  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(255,255,255,0.2) !important;
  opacity: 0.8;
  align-content:start;
  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.4); */
  /* border: 1px solid white; */

}




.card:hover{
  /* transition: all 0.5s ease-in; */
  opacity: 1;
  position: relative;
  right: 1px;
  bottom:1px;
  box-shadow: 5px 5px 15px 3px rgba(255, 230, 193, 0.3);
}



.card-title{
  font-family: "Audiowide", sans-serif;
  line-height: 1.5;
  font-size: 1.1em;
  text-align: center;
}

.card-text{
  font-family: sans-serif;
  line-height: 1.5;
  padding: 20px 5px;
  text-align: justify;

}

@media (max-width: 650px){
  .card{
    margin: 0 20px;
  }
}

.card-grid:first-child{

  height: fit-content;
  
}

.card-grid:last-child{
padding: 10px 10px;
}











/* @media (max-width: 992px) {
.section2{
  visibility: hidden;
}
} */


.wrapper3{
  margin-top: 40px;
}

.aboutMe{
  color: rgba(255, 230, 193, 1) !important;
}

.myPic{
  height: 240px;
  float: right;
}




/* creative and inovation */
.about {
  
  position: relative;
  
  top: 30px;
  color: rgba(255, 230, 193, 1);
  font-size: 3.5em;
  font-family: "League Script", cursive;
}

.myName {
  position: relative;
  color: rgba(255, 95, 90, 1);
  font-size: 8em;
  line-height: 2;
  font-family: "Times New Roman", serif;
}
.introduction{
    position: relative;
    width: 50%;
    font-size: 1.1em;
    line-height: 1.3;
}

@media (max-width: 992px) {
 
  .about {

    top: 0px;
    left: 0px;
    font-size: 2em;
  }

  .myName {
    font-size: 2em;
    left: 0px;
    font-family: "Times New Roman", serif;
  }
  .introduction{
    position: relative;
    width: 100%;
    
}
.wrapper3{
  padding: 0 15px;
}

}

.myEmail{
  display: flex;
  align-items: center;
}


.myEmail>a:hover{
  position: relative;
  right: 1px;
  bottom: 1px;
  color: white;
}\